@media (min-width: 801px) {

    nav a:hover{
        color: white;
    }
    .card-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    #photo-section{
        margin-left: 1rem;
    }

    #web-certificates-section{
        grid-column: span 3;
    }
    
    .course-card{
    width: 30%;
    height: 50px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
}